*
{
    margin: 0;
    padding: 0;
}

/*-----Navigation----*/

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-band img
{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover
{
    color: white !important;
}

.navbar
{
    background: rgb(18, 18, 75);
}

.navbar-toggler
{
    border: none !important;
}

.nav-link
{
    color: #555 !important;
    font-weight: 600;
    font-size: 16pt;
}

/* get in touch */

#contact
{
   background-color: #211a61;
   padding-top: 40px;
   padding-bottom: 40px;
   color:white; 
}

.contact-form
{
    padding:15px;
}

.form-control
{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder
{
    color: #999 !important;
}

#footer
{
    background: #333;
    color: white;
    padding: 12px;
}

.fa-heart-o
{
    margin: 3px;
    color: red;
}